*{
    margin: ;
    padding: ;
    box-sizing: border-box;

}
.container {
max-width: 600px;
margin: 0auto;
appearance: unset;



}
.apply_box{
width: 300pxpx;
padding:  10px;
background-color: brown;
margin-top: 50px;
box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
border-radius: 10px;
}
.title{
    font-size: 12px;
}
.form_control{
    
}